@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #ffffff;
}

.home {
  text-align: center;
}

.header-container {
  margin: auto;
  max-width: 100%;
}

.header-logo {
  max-width: 120px;
  max-height: 120px;
  margin: auto;
}

/* .banner {
  max-width: 80%;
  margin: 0px auto;
} */

.welcomecontainer {
  background-color: #737373;
  max-width: 80%;
  margin: -5px auto;
}

.welcometext {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  margin: auto;
  padding: 15px;
}

.slideshow-container {
  margin: auto;
  max-width: 100%;
}

/* .slider {
  height: 450px;
} */

/* remove image-gallery if needed */
.image-gallery-slide {
  text-align: center;
  background-color: #ffffff;
}

.image-gallery-slide img {
  max-width: 100%;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

div.slider {
  overflow: hidden;
}
div.slider figure img {
  width: 20%;
  float: left;
}
div.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

.grid-container {
  margin: auto;
  max-width: 100%;
}

.form-img-container {
  background-color: #ffffff;
  max-width: 100%;
}

.form-img {
  margin: auto;
  max-width: 100%;
}

.gallery-img-container {
  text-align: center;
}

.gallery-main {
  max-width: 100%;
}

.gallery-img {
  max-width: 100%;
}

.after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  color:  #FFF;
}

.grid-item-container:hover .after {
  display: block;
  background: rgba(0, 0, 0, .4);
}

.contact-submit-container {
  margin-top: 15px;
}

.form-container {
  margin: auto;
  text-align: center;
  background-image: url("/images/contact-main.jpg");
  background-size: 100%;
  background-color: white;
}

.about-img-text {
  max-width: 100%;
}

.footer {
  margin: auto;
  background-color: white;
  max-width: 80%;
  text-align: center;
}

.footer p {
  font-size: 12px;
  font-family: "Amatic SC", cursive;
  color: "#4b626de";
  margin: auto;
  padding: 5px;
}
